In [0]:
# Install Java, Spark, and Findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-05-29 03:01:39--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  4.64MB/s    in 0.2s

2020-05-29 03:01:39 (4.64 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ETL-2").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [8]:
from pyspark import SparkFiles
# Importing Data From Amazon S3 Bucket / Reviews Data
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Toys_v1_00.tsv.gz"
spark.sparkContext.addFile(url)

df = spark.read.option('header', 'true').csv(SparkFiles.get("amazon_reviews_us_Toys_v1_00.tsv.gz"), inferSchema=True, sep='\t', dateFormat = "yyyy-MM-dd")
df.show(10)

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         US|   18778586| RDIJS7QYB6XNR|B00EDBY7X8|     122952789|Monopoly Junior B...|            Toys|          5|            0|          0|   N|                Y|          Five Stars|        Excellent!!!|2015-08-31 00:00:00|
|         US|   24769659|R36ED1U38IELG8|B00D7JFOPC|     952062646|56 Pieces of Wood...|            Toys|          5|            0|          0|   N|                Y|Good quality trac...|Great quality woo...|2015-08-31 00:00:00|
|         US|   44331596| R1UE3RPRGCOLD|B002LHA74O|     818126353|Super Jumbo Playi...|            Toys|          2|            1|          1|   N|                Y|           Two Stars|Cards are not as ...|2015-08-31 00:00:00|
|         US|   23310293|R298788GS6I901|B00ARPLCGY|     261944918|Barbie Doll and F...|            Toys|          5|            0|          0|   N|                Y|my daughter loved...|my daughter loved...|2015-08-31 00:00:00|
|         US|   38745832|  RNX4EXOBBPN5|B00UZOPOFW|     717410439|Emazing Lights eL...|            Toys|          1|            1|          1|   N|                Y|     DONT BUY THESE!|Do not buy these!...|2015-08-31 00:00:00|
|         US|   13394189|R3BPETL222LMIM|B009B7F6CA|     873028700|Melissa & Doug Wa...|            Toys|          5|            0|          0|   N|                Y|          Five Stars|Great item. Pictu...|2015-08-31 00:00:00|
|         US|    2749569|R3SORMPJZO3F2J|B0101EHRSM|     723424342|Big Bang Cosmic P...|            Toys|          3|            2|          2|   N|                Y|         Three Stars|To keep together,...|2015-08-31 00:00:00|
|         US|   41137196|R2RDOJQ0WBZCF6|B00407S11Y|     383363775|Fun Express Insec...|            Toys|          5|            0|          0|   N|                Y|          Five Stars|I was pleased wit...|2015-08-31 00:00:00|
|         US|     433677|R2B8VBEPB4YEZ7|B00FGPU7U2|     780517568|Fisher-Price Octo...|            Toys|          5|            0|          0|   N|                Y|          Five Stars|    Children like it|2015-08-31 00:00:00|
|         US|    1297934|R1CB783I7B0U52|B0013OY0S0|     269360126|Claw Climber Goli...|            Toys|          1|            0|          1|   N|                Y|Shame on the sell...|Showed up not how...|2015-08-31 00:00:00|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 10 rows

In [9]:
df.count()

4864249

In [10]:
df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: timestamp (nullable = true)

In [11]:
# Creating review_id_table
review_id_table = df.select(["review_id","customer_id","product_id","product_parent","review_date"])
review_id_table.show()

+--------------+-----------+----------+--------------+-------------------+
|     review_id|customer_id|product_id|product_parent|        review_date|
+--------------+-----------+----------+--------------+-------------------+
| RDIJS7QYB6XNR|   18778586|B00EDBY7X8|     122952789|2015-08-31 00:00:00|
|R36ED1U38IELG8|   24769659|B00D7JFOPC|     952062646|2015-08-31 00:00:00|
| R1UE3RPRGCOLD|   44331596|B002LHA74O|     818126353|2015-08-31 00:00:00|
|R298788GS6I901|   23310293|B00ARPLCGY|     261944918|2015-08-31 00:00:00|
|  RNX4EXOBBPN5|   38745832|B00UZOPOFW|     717410439|2015-08-31 00:00:00|
|R3BPETL222LMIM|   13394189|B009B7F6CA|     873028700|2015-08-31 00:00:00|
|R3SORMPJZO3F2J|    2749569|B0101EHRSM|     723424342|2015-08-31 00:00:00|
|R2RDOJQ0WBZCF6|   41137196|B00407S11Y|     383363775|2015-08-31 00:00:00|
|R2B8VBEPB4YEZ7|     433677|B00FGPU7U2|     780517568|2015-08-31 00:00:00|
|R1CB783I7B0U52|    1297934|B0013OY0S0|     269360126|2015-08-31 00:00:00|
| R2D90RQQ3V8LH|   52006292|B00519PJTW|     493486387|2015-08-31 00:00:00|
|R1Y4ZOUGFMJ327|   32071052|B001TCY2DO|     459122467|2015-08-31 00:00:00|
|R2BUV9QJI2A00X|    7360347|B00DOQCWF8|     226984155|2015-08-31 00:00:00|
| RSUHRJFJIRB3Z|   11613707|B004C04I4I|     375659886|2015-08-31 00:00:00|
|R1T96CG98BBA15|   13545982|B00NWGEKBY|     933734136|2015-08-31 00:00:00|
| R2ATXF4QQ30YW|   43880421|B00000JS5S|     341842639|2015-08-31 00:00:00|
|R1YS3DS218NNMD|    1662075|B00XPWXYDK|     210135375|2015-08-31 00:00:00|
|R2SDXLTLF92O0H|   18461411|B00VPXX92W|     705054378|2015-08-31 00:00:00|
| R4R337CCDWLNG|   27225859|B00YRA3H4U|     223420727|2015-08-31 00:00:00|
|R32Z6UA4S5Q630|   20494593|B009T8BSQY|     787701676|2015-08-31 00:00:00|
+--------------+-----------+----------+--------------+-------------------+
only showing top 20 rows

In [12]:
# Creating Products Table
products = df.select(["product_id","product_title"])
products.show()

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B00EDBY7X8|Monopoly Junior B...|
|B00D7JFOPC|56 Pieces of Wood...|
|B002LHA74O|Super Jumbo Playi...|
|B00ARPLCGY|Barbie Doll and F...|
|B00UZOPOFW|Emazing Lights eL...|
|B009B7F6CA|Melissa & Doug Wa...|
|B0101EHRSM|Big Bang Cosmic P...|
|B00407S11Y|Fun Express Insec...|
|B00FGPU7U2|Fisher-Price Octo...|
|B0013OY0S0|Claw Climber Goli...|
|B00519PJTW|100 Foot Multicol...|
|B001TCY2DO|Pig Jumbo Foil Ba...|
|B00DOQCWF8|Minecraft Animal ...|
|B004C04I4I|Disney Baby: Eeyo...|
|B00NWGEKBY|Team Losi 8IGHT-E...|
|B00000JS5S|Hot Wheels 48- Ca...|
|B00XPWXYDK|ZuZo 2.4GHz 4 CH ...|
|B00VPXX92W|Teenage Mutant Ni...|
|B00YRA3H4U|Franklin Sports M...|
|B009T8BSQY|Alien Frontiers: ...|
+----------+--------------------+
only showing top 20 rows

In [13]:
# calculating number of unique customer ids
from pyspark.sql.functions import countDistinct, count
count = df.select(countDistinct("customer_id")).show()

+---------------------------+
|count(DISTINCT customer_id)|
+---------------------------+
|                    2561107|
+---------------------------+

In [14]:
# Counting the Number of Customers / Creating A Table customers

customer = df.groupBy("customer_id").count().orderBy("customer_id").select("customer_id", "count")
customers = customer.withColumnRenamed("count","customer_count")
customers.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|      10023|             1|
|      10046|             1|
|      10082|             1|
|      10085|             1|
|      10092|             1|
|      10096|             1|
|      10120|            14|
|      10155|             1|
|      10162|             1|
|      10179|             1|
|      10192|             2|
|      10199|             1|
|      10201|             1|
|      10206|             1|
|      10224|             1|
|      10236|             1|
|      10264|             1|
|      10283|             1|
|      10285|             1|
|      10291|             5|
+-----------+--------------+
only showing top 20 rows

In [15]:
# Creating  Vine Table

vine_table = df.select(["review_id","star_rating","helpful_votes", "total_votes","vine"])
vine_table.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
| RDIJS7QYB6XNR|          5|            0|          0|   N|
|R36ED1U38IELG8|          5|            0|          0|   N|
| R1UE3RPRGCOLD|          2|            1|          1|   N|
|R298788GS6I901|          5|            0|          0|   N|
|  RNX4EXOBBPN5|          1|            1|          1|   N|
|R3BPETL222LMIM|          5|            0|          0|   N|
|R3SORMPJZO3F2J|          3|            2|          2|   N|
|R2RDOJQ0WBZCF6|          5|            0|          0|   N|
|R2B8VBEPB4YEZ7|          5|            0|          0|   N|
|R1CB783I7B0U52|          1|            0|          1|   N|
| R2D90RQQ3V8LH|          5|            0|          0|   N|
|R1Y4ZOUGFMJ327|          5|            0|          0|   N|
|R2BUV9QJI2A00X|          5|            0|          1|   N|
| RSUHRJFJIRB3Z|          4|            0|          0|   N|
|R1T96CG98BBA15|          3|            2|          4|   N|
| R2ATXF4QQ30YW|          5|            0|          0|   N|
|R1YS3DS218NNMD|          5|            4|          4|   N|
|R2SDXLTLF92O0H|          5|            0|          0|   N|
| R4R337CCDWLNG|          3|            0|          1|   Y|
|R32Z6UA4S5Q630|          1|            0|          0|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

In [0]:
# Postgres Setup

# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://mypostgresreviews.cxhm2v6cvy5g.us-east-2.rds.amazonaws.com:5432/toys_db"
config = {"user":"", 
          "password": "", 
          "driver":"org.postgresql.Driver"}

In [0]:
# Loading Review Table to AWS Postgres

review_id_table.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [0]:
# Loading Customers Table to AWS Postgres
customers.write.jdbc(url=jdbc_url, table='customers', mode=mode, properties=config)

In [0]:
# Loading Products Table to AWS Postgres

products.write.jdbc(url=jdbc_url, table='products', mode=mode, properties=config)

In [0]:
# Loading Vine Table to AWS Postgres
vine_table.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)